.extra-actions {
    position: absolute;
    right: 20px;
    top: 10px;
}

.extra-actions .btn {
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    margin-left: 20px;
    color: white;
}

.extra-actions .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.max-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.max-con .all-diagram {
    position: relative;
}

.all-diagram p {
    font-size: 20px;
    position: absolute;
    margin-top: 41.5%;
    margin-left: 39%;
    font-weight: 600;
}

.max-con .all-diagram-f {
    position: relative;
}

.all-diagram-f p {
    font-size: 20px;
    position: absolute;
    margin-top: 41.5%;
    margin-left: 44%;
    font-weight: 600;
}

@media (max-width: 768px) {
    .all-diagram {
        position: relative;
        margin-top: 60px;
    }

    .extra-actions .btn {
        margin-top: 80px;
        margin-left: 10px;
    }
    .extra-actions{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}